<section class="mobile-frame">
<div class="nav">
<%= link_to "back", root_path, class:"col-white" %>
<h2>Sign Up</h2>

</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class:'label'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input" %>
  </div>

  <div class="field">
    <%= f.label :email, class:'label' %><br />
    <%= f.email_field :email, autocomplete: "email", class:"input" %>
  </div>

  <div class="field">
    <%= f.label :password, class:'label'%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:'label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class:"col-white hm-btn" %>
  </div>
<% end %>


</section>

